**<h1 align="center">Knock Airport Weather</h1>**

# <h1 align="center">Assignment 6</h1>

## <h1 align="center">By Sharon Curley</h1>

***

### Table of Contents


1. About the Assignment
2. Import Libraries
3. Load Data

4. Data Exploration
   
    4.1  Check for the DataFrame

    4.2  Check for the DataFrame dimensionality with pandas .info() method

    4.3  Generate descriptive statistics with pandas .describe method
    
5. Cleaning the Dataset
   
    5.1 Identify missing values


6. Data Analysis
   
    6.1  Analysis: Part 1
     - 6.1.1 The temperature

     - 6.1.2 The mean temperature each day

     - 6.1.3 The mean temperature for each month
  
    6.2 Analysis: Part 2

     - 6.2.1 Data Insight
  
     - 6.2.2 The Windspeed (there is data missing from this column)

     - 6.2.3 The rolling windspeed (say over 24 hours)

     - 6.2.4 The max windspeed for each day
  
     - 6.2.5 The monthly mean of the daily max windspeeds (yer I am being nasty here)
 
7.  Conclusion
   
8.  References

### 1. About the Assignment
***
This assignment is to create plots from Knock Airport weather data found here https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv

Firstly,  plotting the following:

- The temperature
- The mean temperature each day
- The mean temperature for each month

Secondly,  plotting the following:

- The Windspeed (there is data missing from this column)
- The rolling windspeed (say over 24 hours)
- The max windspeed for each day
- The monthly mean of the daily max windspeeds (yer I am being nasty here)

### 2. Import the Libraries
***

I imported the following libraries to plot the dataset.

- `matplotlib.pyplot`: Essential for creating static, animated, and interactive visualizations in Python. It is closely integrated with NumPy and provides a MATLAB-like interface for creating plots and visualizations.
- `numpy`: It contains functionality for multidimensional arrays, high-level mathematical functions such as linear algebra operations.
- `pandas`: Fundamental data analysis and manipulation library built on top of the Python programming language. It offers data structures and operations for manipulating numerical tables and time series.
- `seaborn`: Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

In [15]:
import matplotlib.pyplot as pl
import numpy as np
import pandas as pd
import seaborn as sns
import datetime

### 3. Load the Data
***
Load the dataset from [the Knock Airport weather readings](https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv)

In [16]:
df=pd.read_csv("https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv", skiprows=22)

C:\Users\curleys\AppData\Local\Temp\ipykernel_11832\382437672.py:1: DtypeWarning: Columns (2,10,12,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv", skiprows=22)

### 4. Data Exploration
***

4.1 Check the dataframe

In [18]:
df.head(10)

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
3,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
4,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6
5,31-jul-1996 12:00,0,0.0,0,14.4,0,10.9,7.3,0.0,0,...,0,0,0,0,1,82,0.0,40000,43,6
6,31-jul-1996 13:00,0,0.0,0,14.9,0,10.9,6.7,0.0,0,...,0,0,0,0,2,11,0.0,40000,43,5
7,31-jul-1996 14:00,0,0.0,0,13.9,0,10.4,6.7,0.0,0,...,0,0,0,0,2,11,0.0,50000,45,6
8,31-jul-1996 15:00,0,0.0,0,13.2,0,10.9,8.6,0.0,0,...,0,0,0,0,25,82,0.0,8000,45,7
9,31-jul-1996 16:00,0,0.0,0,15.1,0,11.3,7.5,0.0,0,...,0,0,0,0,25,82,0.0,35000,40,7

4.2  Check for the DataFrame dimensionality with pandas .info() method

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246930 entries, 0 to 246929
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    246930 non-null  object
 1   ind     246930 non-null  int64
 2   rain    246930 non-null  object
 3   ind.1   246930 non-null  int64
 4   temp    246930 non-null  float64
 5   ind.2   246930 non-null  int64
 6   wetb    246930 non-null  float64
 7   dewpt   246930 non-null  float64
 8   vappr   246930 non-null  float64
 9   rhum    246930 non-null  int64
 10  msl     246930 non-null  object
 11  ind.3   246930 non-null  int64
 12  wdsp    246930 non-null  object
 13  ind.4   246930 non-null  int64
 14  wddir   246930 non-null  object
 15  ww      246930 non-null  object
 16  w       246930 non-null  object
 17  sun     246930 non-null  float64
 18  vis     246930 non-null  object
 19  clht    246930 non-null  object
 20  clamt   246930 non-null  object
dtypes: float64(5), int64(6), object(10)
memory usage: 39.6+ MB

4.3  Generate descriptive statistics with pandas .describe method

In [20]:
df.describe(include="all")

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
count,246930,246930.000000,246930.0,246930.000000,246930.000000,246930.000000,246930.000000,246930.000000,246930.000000,246930.000000,...,246930.000000,246930.0,246930.000000,246930.0,246930,246930,246930.000000,246930,246930.0,246930.0
unique,246930,NaN,191.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,88.0,NaN,75.0,133,83,NaN,166,283.0,20.0
top,10-apr-1996 14:00,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,NaN,210.0,,,NaN,,0.0,8.0
freq,1,NaN,158407.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17270.0,NaN,10537.0,54712,54713,NaN,61807,63643.0,106617.0
mean,NaN,0.470392,NaN,0.021042,8.763200,0.033471,7.808824,6.706804,10.204179,87.929340,...,2.001288,NaN,2.001328,NaN,NaN,NaN,0.126766,NaN,NaN,NaN
std,NaN,0.987216,NaN,0.143864,4.609026,0.228568,4.218859,4.380062,3.011605,12.139134,...,0.093041,NaN,0.094979,NaN,NaN,NaN,0.367014,NaN,NaN,NaN
min,NaN,0.000000,NaN,0.000000,-6.900000,0.000000,-7.300000,-11.400000,0.000000,0.000000,...,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,0.000000,NaN,0.000000,5.400000,0.000000,4.700000,3.500000,7.800000,82.000000,...,2.000000,NaN,2.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
50%,NaN,0.000000,NaN,0.000000,8.800000,0.000000,8.000000,7.000000,10.000000,92.000000,...,2.000000,NaN,2.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
75%,NaN,0.000000,NaN,0.000000,12.000000,0.000000,11.000000,9.900000,12.200000,97.000000,...,2.000000,NaN,2.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
max,NaN,8.000000,NaN,2.000000,28.500000,6.000000,23.800000,22.500000,27.200000,100.000000,...,7.000000,NaN,7.000000,NaN,NaN,NaN,4.900000,NaN,NaN,NaN

## 5.   Cleaning the Dataset

***

5.1 Identify missing values

In [21]:
df.isnull().sum().sum()

0

In [22]:
df.isnull().sum()

date     0
ind      0
rain     0
ind.1    0
temp     0
ind.2    0
wetb     0
dewpt    0
vappr    0
rhum     0
msl      0
ind.3    0
wdsp     0
ind.4    0
wddir    0
ww       0
w        0
sun      0
vis      0
clht     0
clamt    0
dtype: int64

## 6.   Data Analysis

***

6.1  Analysis: Part 1

6.1.1 The temperature

ERRORS

pd.to_datetime(df[['date']])



dateFrom = "01-jan-2018 00:00"

dateTo = "31-dec-2018 23:59"

sns.lineplot(data=df.loc[dateFrom:dateTo], x="date", y="temp")

In [24]:
df.set_index('date', inplace=True)
df.head(3)

,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
date,,,,,,,,,,,,,,,,,,,,
10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,1016.7,0,0,0,0,25,81,0.0,35000,32,5
31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,1011.4,0,0,0,0,25,82,0.0,40000,45,5
31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,1011.4,0,0,0,0,80,81,0.0,8000,32,7

6.1.2 The mean temperature each day

6.1.3 The mean temperature for each month