
**<h1 align="center">Dry Bulb Temperature (Celsius) Plot</h1>**

# <h1 align="center">Assignment 2: Weather</h1>

## <h1 align="center">By Sharon Curley</h1>

***

About the Assignment

1. Import Libraries
2. Load the Data
3. Explore the data before plotting
4. Plot the data

### Imports Libraries
***
I import the following libraries to plot the dataset.

- `matplotlib.pyplot`: Essential for creating static, animated, and interactive visualizations in Python. It is closely integrated with NumPy and provides a MATLAB-like interface for creating plots and visualizations.
- `numpy`: It contains functionality for multidimensional arrays, high-level mathematical functions such as linear algebra operations.
- `pandas`: Fundamental data analysis and manipulation library built on top of the Python programming language. It offers data structures and operations for manipulating numerical tables and time series.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Load the Data
***
Load the dataset from the weatherreadings1.csv

In [3]:
df=pd.read_csv("../PFDA-mywork/week 2/weatherreadings1.csv")

### Explore the Data Before Plotting
***

In [13]:
df.head(3)

,siteId,reportStartDateTime,reportEndDateTime,collectionName,isPublic,isLatestVersion,observationType,softwareType,windDirection,relativeHumidity,...,isDcnn,longitude,latitude,height,id,localReportEndDateTime,externalSiteId,createdDateTime,version,externalId
0,f2d42aea-f516-ec11-b76a-0003ff599499,2024-10-02T16:15:00+00:00,2024-10-02T16:15:00+00:00,1,True,True,1,WeatherLink,322,70.4,...,False,-8.8545,53.5244,45,20241002oarq1xwy5re69kyhyyguw31uhh,2024-10-02T16:15:00+00:00,1000013318,2024-10-02T16:15:28.5671119+00:00,1,12577570561
1,f2d42aea-f516-ec11-b76a-0003ff599499,2024-10-02T16:45:00+00:00,2024-10-02T16:45:00+00:00,1,True,True,1,WeatherLink,327,72.4,...,False,-8.8545,53.5244,45,20241002zafpyewy5we69kyhyytrtenn4a,2024-10-02T16:45:00+00:00,1000013318,2024-10-02T16:45:40.4251616+00:00,1,12577595550
2,f2d42aea-f516-ec11-b76a-0003ff599499,2024-10-02T17:00:00+00:00,2024-10-02T17:00:00+00:00,1,True,True,1,WeatherLink,27,73.4,...,False,-8.8545,53.5244,45,202410027k7rmycy5he69kyhyytrtenn4a,2024-10-02T17:00:00+00:00,1000013318,2024-10-02T17:01:12.3376405+00:00,1,12577608947

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   siteId                          89 non-null     object
 1   reportStartDateTime             89 non-null     object
 2   reportEndDateTime               89 non-null     object
 3   collectionName                  89 non-null     int64
 4   isPublic                        89 non-null     bool
 5   isLatestVersion                 89 non-null     bool
 6   observationType                 89 non-null     int64
 7   softwareType                    89 non-null     object
 8   windDirection                   89 non-null     int64
 9   relativeHumidity                89 non-null     float64
 10  windSpeed_MilePerHour           89 non-null     float64
 11  windSpeed_MetrePerSecond        89 non-null     float64
 12  dryBulbTemperature_Fahrenheit   89 non-null     float64
 13  dryBulbTemperature_Celsius      89 non-null     float64
 14  wetBulbTemperature_Fahrenheit   89 non-null     float64
 15  wetBulbTemperature_Celsius      89 non-null     float64
 16  rainfallAmount_Inch             89 non-null     int64
 17  rainfallAmount_Millimetre       89 non-null     int64
 18  rainfallRate_InchPerHour        89 non-null     int64
 19  rainfallRate_MillimetrePerHour  89 non-null     int64
 20  airPressure_InchOfMercury       89 non-null     float64
 21  airPressure_Hectopascal         89 non-null     float64
 22  dewPointTemperature_Fahrenheit  89 non-null     float64
 23  dewPointTemperature_Celsius     89 non-null     float64
 24  isOfficial                      89 non-null     bool
 25  isDcnn                          89 non-null     bool
 26  longitude                       89 non-null     float64
 27  latitude                        89 non-null     float64
 28  height                          89 non-null     int64
 29  id                              89 non-null     object
 30  localReportEndDateTime          89 non-null     object
 31  externalSiteId                  89 non-null     int64
 32  createdDateTime                 89 non-null     object
 33  version                         89 non-null     int64
 34  externalId                      89 non-null     int64
dtypes: bool(4), float64(13), int64(11), object(7)
memory usage: 22.0+ KB

In [7]:
df.describe(include="all")

,siteId,reportStartDateTime,reportEndDateTime,collectionName,isPublic,isLatestVersion,observationType,softwareType,windDirection,relativeHumidity,...,isDcnn,longitude,latitude,height,id,localReportEndDateTime,externalSiteId,createdDateTime,version,externalId
count,89,89,89,89.0,89,89,89.0,89,89.000000,89.000000,...,89,8.900000e+01,8.900000e+01,89.0,89,89,8.900000e+01,89,89.0,8.900000e+01
unique,1,89,89,NaN,1,1,NaN,1,NaN,NaN,...,1,NaN,NaN,NaN,89,89,NaN,89,NaN,NaN
top,f2d42aea-f516-ec11-b76a-0003ff599499,2024-10-02T16:15:00+00:00,2024-10-02T16:15:00+00:00,NaN,True,True,NaN,WeatherLink,NaN,NaN,...,False,NaN,NaN,NaN,20241002oarq1xwy5re69kyhyyguw31uhh,2024-10-02T16:15:00+00:00,NaN,2024-10-02T16:15:28.5671119+00:00,NaN,NaN
freq,89,1,1,NaN,89,89,NaN,89,NaN,NaN,...,89,NaN,NaN,NaN,1,1,NaN,1,NaN,NaN
mean,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,188.292135,85.135955,...,NaN,-8.854500e+00,5.352440e+01,45.0,NaN,NaN,1.000013e+09,NaN,1.0,1.257823e+10
std,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,144.536579,5.626101,...,NaN,1.786421e-15,5.716548e-14,0.0,NaN,NaN,0.000000e+00,NaN,0.0,3.879131e+05
min,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,0.000000,70.400000,...,NaN,-8.854500e+00,5.352440e+01,45.0,NaN,NaN,1.000013e+09,NaN,1.0,1.257757e+10
25%,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,40.000000,79.900000,...,NaN,-8.854500e+00,5.352440e+01,45.0,NaN,NaN,1.000013e+09,NaN,1.0,1.257790e+10
50%,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,275.000000,87.200000,...,NaN,-8.854500e+00,5.352440e+01,45.0,NaN,NaN,1.000013e+09,NaN,1.0,1.257824e+10
75%,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,333.000000,89.400000,...,NaN,-8.854500e+00,5.352440e+01,45.0,NaN,NaN,1.000013e+09,NaN,1.0,1.257857e+10
max,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,359.000000,92.400000,...,NaN,-8.854500e+00,5.352440e+01,45.0,NaN,NaN,1.000013e+09,NaN,1.0,1.257889e+10

In [8]:
df.isnull().sum()

siteId                            0
reportStartDateTime               0
reportEndDateTime                 0
collectionName                    0
isPublic                          0
isLatestVersion                   0
observationType                   0
softwareType                      0
windDirection                     0
relativeHumidity                  0
windSpeed_MilePerHour             0
windSpeed_MetrePerSecond          0
dryBulbTemperature_Fahrenheit     0
dryBulbTemperature_Celsius        0
wetBulbTemperature_Fahrenheit     0
wetBulbTemperature_Celsius        0
rainfallAmount_Inch               0
rainfallAmount_Millimetre         0
rainfallRate_InchPerHour          0
rainfallRate_MillimetrePerHour    0
airPressure_InchOfMercury         0
airPressure_Hectopascal           0
dewPointTemperature_Fahrenheit    0
dewPointTemperature_Celsius       0
isOfficial                        0
isDcnn                            0
longitude                         0
latitude                          0
height                            0
id                                0
localReportEndDateTime            0
externalSiteId                    0
createdDateTime                   0
version                           0
externalId                        0
dtype: int64

### Plot the data
***